<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Create Candidate</title>
	<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>

<body>
	<th:block th:include="/layout/_nav"></th:block>
	<main class="row mx-0">
		<th:block th:include="/layout/_sidebar"></th:block>
		<div class="col">
			<div class="container">
				<div class="pt-4 border-0 border-bottom">
					<h1 class="fw-normal">Create Candidate</h1>
				</div>
				<div>
					<!-- Contents -->
					<nav>
						<div class="nav nav-tabs" id="nav-tab" role="tablist">
							<a class="nav-item nav-link active" id="information-tab" data-toggle="tab"
								href="#nav-information" role="tab" aria-controls="nav-information"
								aria-selected="true">Candidate Information</a>
							<a class="nav-item nav-link" id="result-tab" data-toggle="tab" href="#nav-result" role="tab"
								aria-controls="nav-result" aria-selected="false">Result</a>
						</div>
					</nav>
					<div class="tab-content" id="nav-tabContent">
						<!-- Content tab -->
						<div class="tab-pane fade show active" id="nav-information" role="tabpanel"
							aria-labelledby="information-tab">
							<div class="d-flex align-items-center bg-primary bg-gradient">
								<p class="m-0 p-2">Personal Information</p>
							</div>
							<form th:action="@{/candidate/create}" method="post" class="border p-3"
								th:object="${candidateCriteriaModel}" enctype="multipart/form-data">
								<p class="text-danger" th:if="${message!=null}" th:utext="${message}"></p>
								<table class="table table-bordered">
									<tbody>
										<tr>
											<th>Empl ID</th>
											<td>
												<input th:value="${id}" th:field="*{id}" name="id" type="text"
													class="form-control" disabled required>
											</td>
											<th>Type</th>
											<td>
												<input th:field="*{type}" name="type" type="text" class="form-control"
													disabled required>
											</td>
											<th>Status</th>
											<td>
												<input th:field="*{status}" name="status" type="text"
													class="form-control" disabled required>
											</td>
										</tr>
										<tr>
											<th>Application Date</th>
											<td colspan="2">
												<div class="input-group date d-flex align-items-center">
													<input th:field="*{applicationDate}" data-date-end-date="0d"
														data-provide="datepicker" name="applicationDate" type="text"
														class="form-control" id="applicationDate" />
													<span class="input-group-append">
														<span class="input-group-text bg-light d-block">
															<i class="bi bi-calendar"></i>
														</span>
													</span>
												</div>
											</td>
											<th>Channel</th>
											<td colspan="2">
												<select th:field="*{channel}" class="form-control" id="channel">
													<option value="none" selected>Open this select menu</option>
													<option th:each="channel :${channels}"
														th:value="${channel.channelName}"><span
															th:text="${channel.channelName}"></span></option>
												</select>
											</td>
										</tr>
										<tr>
											<th>Site</th>
											<td colspan="2">
												<select th:field="*{location}" class="form-control" name="location"
													id="location">
													<option value="none" selected>Open this select menu</option>
													<option th:each="location :${locations}"
														th:value="${location.locationName}">
														<span th:text="${location.locationName}"></span>
													</option>
												</select>
											</td>
											<th>Account</th>
											<td colspan="2">
												<input th:field="*{account}" th:value="${account}" type="text"
													class="form-control" name="account" id="account" required>
											</td>
										</tr>
										<tr>
											<th>Name</th>
											<td colspan="2">
												<input th:field="*{fullName}" name="fullName" type="text"
													class="form-control" id="fullname" required>
											</td>
											<th>Gender</th>
											<td colspan="2">
												<div class="form-check form-check-inline">
													<input th:field="*{gender}" class="form-check-input" type="radio"
														name="gender" id="inlineRadio1" value="Male">
													<label class="form-check-label" for="inlineRadio1">Male</label>
												</div>
												<div class="form-check form-check-inline">
													<input th:field="*{gender}" class="form-check-input" type="radio"
														name="gender" id="inlineRadio2" value="Female">
													<label class="form-check-label" for="inlineRadio2">Female</label>
												</div>
												<div class="form-check form-check-inline">
													<input th:field="*{gender}" class="form-check-input" type="radio"
														name="gender" id="inlineRadio3" value="Other">
													<label class="form-check-label" for="inlineRadio3">Other</label>
												</div>
											</td>
										</tr>
										<tr>
											<th>DOB</th>
											<td colspan="2">
												<div class="input-group date d-flex align-items-center">
													<input th:field="*{dateOfBirth}" data-date-end-date="0d"
														data-provide="datepicker" name="dateOfBirth" type="text"
														class="form-control" id="dateOfBirth" />
													<span class="input-group-append">
														<span class="input-group-text bg-light d-block">
															<i class="bi bi-calendar"></i>
														</span>
													</span>
												</div>
											</td>
											<th>CV</th>
											<td colspan="2">
												<input name="FileCV" type="file" class="form-control p-1" required>
											</td>
										</tr>
										<tr>
											<th>University</th>
											<td colspan="2">
												<select th:field="*{university}" class="form-control" id="university">
													<option value="none" selected>Open this select menu</option>
													<option th:each="university :${universities}"
														th:value="${university.universityName}"><span
															th:text="${university.universityName}"></span></option>
												</select>
											</td>
											<th>Faculty</th>
											<td colspan="2">
												<select th:field="*{faculty}" class="form-control" id="faculty">
													<option value="none" selected>Open this select menu</option>
													<option th:each="faculty :${faculties}"
														th:value="${faculty.facultyName}"><span
															th:text="${faculty.facultyName}"></span></option>
													<option value="other">other</option>
												</select>
											</td>
										</tr>
										<tr>
											<th>Phone</th>
											<td colspan="2">
												<input th:field="*{phone}" type="text" class="form-control">
											</td>
											<th>Email</th>
											<td colspan="2">
												<input th:field="*{email}" type="text" class="form-control">
											</td>
										</tr>
										<tr>
											<th>Skill</th>
											<td colspan="2">
												<input th:field="*{skill}" type="text" class="form-control">
											</td>
											<th>Graduation Year</th>
											<td colspan="2">
												<div class="input-group date datepicker">
													<input th:field="*{graduationYear}" data-date-end-date="0d"
														data-provide="datepicker" type="text" class="form-control"
														id="graduationDate" />
													<span class="input-group-append">
														<span class="input-group-text bg-light d-block">
															<i class="bi bi-calendar-date"></i>
														</span>
													</span>
												</div>
											</td>
										</tr>
										<tr>
											<th>Foreign Language</th>
											<td colspan="2">
												<input th:field="*{foreignLanguage}" type="text" class="form-control">
											</td>
											<th>Level</th>
											<td colspan="2">
												<input th:field="*{level}" type="text" class="form-control">
											</td>
										</tr>
										<tr>
											<th>Note</th>
											<td colspan="6">
												<input th:field="*{note}" type="text" class="form-control">
											</td>
										</tr>
										<tr>
											<th>History</th>
											<td colspan="6">
												<input th:field="*{history}" th:value=${history} type="text"
													class="form-control" id="history">
											</td>
										</tr>
									</tbody>
								</table>



								<button sec:authorize="hasAnyRole('FA_MANAGER','FA_REC')" data-bs-toggle="modal" data-bs-target="#submitCandidate" class="btn btn-primary"
									type="button">Submit</button>
								<button type="button" th:onclick="|window.location.href='/candidate/listing'|"
									class="btn btn-outline-secondary col-sm-2 me-1">
									<div class="row">
										<i class="bi bi-arrow-90deg-left text-danger col-sm-1"></i>
										<span class="col">Close</span>
									</div>
								</button>

								<!--submit candidate Modal -->
								<div class="modal fade" id="submitCandidate" tabindex="-1"
									aria-labelledby="submitCandidateLabel" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<h6 class="modal-title" id="submitCandidateLabel">Confirm</h6>
												<button type="button" class="btn-close" data-bs-dismiss="modal"
													aria-label="Close"></button>
											</div>
											<div class="modal-body text-center">
												<i class="bi bi-info-circle-fill text-success"></i> Are you
												sure to submit?
											</div>
											<div class="modal-footer">
												<button type="submit" name="buttonType" value="submitCandidate"
													class="btn btn-primary"
													th:formaction="@{'/candidate/create'}">OK</button>
												<button type="button" class="btn btn-secondary"
													data-bs-dismiss="modal">Cancel</button>
											</div>
										</div>
									</div>
								</div>
								<!--End of delete candidate Modal -->
							</form>
						</div>

						<!-- Result tab -->
						<div class="tab-pane fade" id="nav-result" role="tabpanel" aria-labelledby="result-tab">
							
						</div>
					</div>

					<br>
				</div>
				<!-- Em cho mot the div vao day roi dua code em vao la duoc -->

			</div>
		</div>
	</main>
	<th:block th:include="/layout/_footer"></th:block>

	<!-- Boostrap -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script> -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
		integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
	<script type="text/javascript">

		$(function () {
			$('#applicationDate').datepicker({
				format: 'dd/mm/yyyy'
			});
			$('#dateOfBirth').datepicker({
				format: 'dd/mm/yyyy'
			});
			$('#graduationDate').datepicker({
				format: 'dd/mm/yyyy'
			});
			$('#fullname').change(function () {
				let fullName = document.querySelector("#fullname").value;
				let matches = fullName.match(/\b(\w)/g);
				document.querySelector("#account").value = matches.join('');
			});
		});

	</script>
</body>

</html>