
label {
            background-color: rgb(190, 190, 190);
            color: black;
            font-weight: 500;
        }

        /* backgroud input */
        .inputBackGroud {
            background-color: lightgray;
        }

        /* css button */
        .button {
            display: flex;
            height: 45px;
            padding: 0;
            /* background: #5da2f0; */
            border: none;
            outline: none;
            border-radius: 5px;
            overflow: hidden;
            font-family: "Quicksand", sans-serif;
            font-size: 16px;
            font-weight: 500;
            cursor: pointer;
        }


        .button__text,
        .button__icon {
            display: inline-flex;
            align-items: center;
            padding: 0 24px;
            color: rgb(24, 22, 22);
            height: 100%;
        }

        .button__icon {
            font-size: 1.5em;
            background: rgba(0, 0, 0, 0.08);
        }

        /* end css button */